/* <<<<<<< HEAD
.heading {
    font-size: 50px;
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
}

.title_animation {
    font-size: 28px;
    animation: pulse 10s infinite;
}

.content {
    flex-grow: 1;
    margin-left: 250px;
    padding: 20px;
    background-color: #262626;
    transition: margin-left 0.3s ease-in-out;
}

.welcome {
    font-size: 20px;
    text-align: center;
    color: white;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    flex: 1;
    margin: 10px;
    min-width: 150px;
    max-width: 220px;
}

@media (max-width: 768px) {
    .content {
        margin-left: 200px;
    }

    .heading {
        font-size: 40px;
    }

    .title_animation {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .content {
        margin-left: 150px;
        padding: 15px;
    }

    .heading {
        font-size: 30px;
    }

    .title_animation {
        font-size: 20px;
    }

    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        min-width: 120px;
        max-width: 180px;
    }
======= */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f9;
}
a {
    color: black;
    text-decoration: none;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    width: 80%;
}
nav a, .logout {
    display: inline-block;
    padding: 30px 60px;
    margin: 0 15px;
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}
nav a:hover, .logout:hover {
    background-color: #45a049;
    transform: translateY(-3px);
}
.container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 20px;
}

.animated-w {
    display: inline-block;
    animation: bounce 2s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}
.statistics, .profile {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 45%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
footer {
    margin-top: 20px;
    width: 80%;
    text-align: center;
    padding: 20px 0;
    background-color: white;
    border-top: 1px solid #ccc;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.logout{
    padding: 15px;
    margin: 10px;

}