body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;

}

.attpiechart {
    /* margin-left: -150px; */
    transition: transform 0.5s ease;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.attpiechart:hover {
    animation: pulse 1s infinite;
}

.container h1
{
    color:rgb(224, 187, 187);   
}


.leftpart {
    font-size: 25px;
    margin-top: 50px;
    margin-left: -30px;
    text-decoration: none;
     
}

.rightpart1 {
    font-size: 25px;
    margin-left: 900px;
    margin-top:  -220px;
}

.rightpart2 {
    font-size: 25px;
    margin-left: 900px;
    margin-top:  30px;
}

