
body {
    font-family: sans-serif;
    margin: 20px; 
    background-color:hsl(0, 0%, 100%);
  }
  
  input:invalid + .error,
  textarea:invalid + .error {
    display: block;
  }
  input[type="text"]::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #ccc;
  }
  input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    color: white;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
  }
  
  .form_control {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
  
  .form_control label {
    margin-right: 10px;
  }
  
  .form_control input,
  .form_control textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  .form_control textarea {
    height: 100px;
  }
  
  button[type="submit"] {
    background-color: #00ff08;
    color: black;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  input:focus,
  textarea:focus,
  button:focus {
    outline: none;
    border: 2px solid #06D001;
  }

  label{
    margin-top: 30px;
    display: block;

  }
  h1{
    text-align: center;
    color: #4CAF50;
  }
  .form input, .form textarea{
    background-color: #fcffdd;
    font-size: large;
  }
  
  
  .errorlist {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
  }

 