{% extends "loginbase.html" %}

{% load static %}


{% block css_link %}
{% endblock %}


{% block title %}Password confirm{% endblock %}

{% block content %}

{% if validlink %}
    <h3>Change Password</h3>
    <form method ="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Change passowrd</button>
    </form>
{% else %}
    <p>The passwird rest link was invalid, passovly cecause it has already veen used. 
        Please request a new password reset. </p>
{% endif %}
{% endblock %}
        
{% block javascript %}{% endblock %}