{% extends "loginbase.html" %}

{% load static %}


{% block css_link %}
{% endblock %}


{% block title %}Reset passowrd{% endblock %}

{% block content %}

<div class="container mt-4">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4>The password reset email has been successfully sent.</h4>
        </div>
        <div class="card-body">
          <ul class="px-3">
            <li>We’ve emailed you instructions for setting your password.</li>
            <li>If an account exists with the email you entered, you should receive them shortly.</li>
            <li>If you don’t receive an email, please make sure you’ve entered the address you registered with, and
              check your spam folder.</li>
            <li>If you have finished the password reset process, please click the button below to return to the login page.</li>
          </ul>
        </div>
        <div class="card-footer">
          <a href="{% url 'login' %}" class="btn btn-success">Back to login page</a>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>

  </div>

</div>



{% endblock %}
        
{% block javascript %}{% endblock %}