{% extends "agentbase.html" %}
{% load static %}
{% block title %}Calling agent dashboard{% endblock %}
{% block css_link %}
<link rel="stylesheet" href="{% static 'sales_tracker/agent.css' %}">
{% endblock %}

{% block content %}
<div class="centered-content">
    <div class="content-wrapper">
        <h1>Hello</h1>
        <ul class="call-list">
            {% for tc in ToCall %}
            <li><a href="{% url "detail_agent" tc %}">{{ tc.customer_first_name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
