{% extends "innerbase.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}


{% block css_link %}
    <link rel="stylesheet" href="{% static 'sales_tracker/lead.css' %}">
{% endblock %}


{% block title %}New Lead{% endblock  %}


{% block content %}

<div class="container-fluid">
  <form method="POST">
    {% csrf_token %}
    <div class="row mt-2 mb-2">
      <div class="col-md-2" style="color: white;">
        <h3>Create Lead</h3>
      </div>
      <div class="col-md-8"> </div>
      <div class="col-md-2">

       
        <div class="row buttons ">
          <div class="col-md-6 d-flex  px-2 ">
            <button type="submit" class="lead_button1">Submit</button>
          </div>
          <div class="col-md-6 d-flex  px-2">
            <button type="button" class="lead_button2">Cancel</button>
          </div>
        </div>

      </div>
      <hr>
      <div class="row">
        <div class="col-md-6 pt-5 pb-5 px-4" style="color: white;">
          <div class="form-group">
          {{form.lead_name|as_crispy_field}}
        </div>
          <div class="form-group">
          {{form.first_name|as_crispy_field}}
        </div>
          <div class="form-group">
          {{form.last_name|as_crispy_field}}
        </div>
          <div class="form-group">
          {{form.email_id|as_crispy_field}}
        </div>
          <div class="form-group">
          {{form.contact_number|as_crispy_field}}
        </div>
        <div class="col-md-6 pt-5 px-4" style="color:white ; border-left: 1px solid #d8d7d7">
          <div class="form-group">
          {{form.job_title|as_crispy_field}}
          </div>
          <div class="form-group">
          {{form.address|as_crispy_field}}
          </div>
          <div class="form-group">
          {{form.contact_link|as_crispy_field}}
          </div>
        </div>
      </div>
  </form>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>

{%comment%}
<form method = "POST" class = "form">
    {% csrf_token %}
    <div class = "form_control" >
    {{form|crispy}}
    </div>
    <button type = "submit">Submit</button>
</form>
{%endcomment%}


{% endblock %}


        
{% block javascript %}{% endblock %}